* {
	margin: 0;
	padding: 0;
}
body {
	background: url(../sky.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
	background-color: #fff;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
}
#wrapper {
	margin: 0 auto;
	max-width: 960px;
	height:100vh;
	padding: 10px;
	background: -webkit-linear-gradient(top, #ccc, #000); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top, #ccc, #000); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top, #ccc, #000); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, top, #ccc, #000); /* Standard syntax */
}
h1, h2 {
	color: #FFF;
	padding: 5px;
	text-shadow: 2px 2px 2px #000;
}
p {
	padding: 10px;
}
.border-radius {
	background: #FFFFFF;
	border: 3px solid #000;
	border-radius: 50px;
	padding: 10px;
}
.box-shadow {
	background: #FFFFFF;
	box-shadow: 5px 5px 10px #000;
}
.radius-shadow {
	background: #FFFFFF;
	box-shadow: 5px 5px 10px #000;
	border-radius: 50px 50px 0 50px;
	border: 3px solid #000;
}
a {
	color: #06f;
	text-decoration: none;
}
a:hover {
	background-color: #D65245;
	border: 2px solid #F46B47;
	border-radius: 5px;
	box-shadow: 2px 2px 1px #5B3D45;
	color: #FFF;
}